<h1>新增館藏</h1>

<%#= new_mesume_path %>

<form action="/musume" method="post">

    <div>
        標題
        <input type="text" name="title">
    </div>

    <div>
        內文
        <textarea name="content" id=""></textarea>
    </div>
    <input type="submit" value="新增">
</form>